<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-wrap"> GasDomi </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon
          color="primary"
          slot="icon-only"
          name="menu-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon color="primary" slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/carrito']">
        <ion-icon color="primary" slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

  <div *ngFor="let prod of productos">
    <app-producto [producto]="prod"></app-producto>
  </div>
  
</ion-content>